body{
    background-color: var(--color-primario-claro);
}

.footer {
    background-color:var(--color-primario-oscuro);
    color:var(--color-terciario-celestito);
    padding: 20px 0;
    
    .container {
        flex-direction: column;
        text-align: center;
    }

    .social-media {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 10px;

        .social-icon {
            color:var(--color-terciario-celestito);
            margin: 0 10px;
            font-size: 24px;
            transition: color 0.3s;

            &:hover {
                color:var(--color-bordes-iconos-plas);
            }

            i {
                display: inline-block;
            }
        }
    }
}
/* ------------------------------- */
@media (max-width: 576px){
 .information{
    text-align: center;
    border-color: var(--color-bordes-iconos-plas);
    box-shadow: 16px 16px 30px -9px rgba(0,0,0,0.75);
-webkit-box-shadow: 16px 16px 30px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 16px 16px 30px -9px rgba(0,0,0,0.75);
    border-radius: 10px 10px 45px 10px;
    -webkit-border-radius: 10px 10px 45px 10px;
    -moz-border-radius: 10px 10px 45px 10px;
    margin:1em;
   
    &__personal{
        margin-top: 1em;
        margin-left: 5em;
        margin-right: 5em;
        display: flex;
        flex-direction: column;
      
     }
     


     textarea{
        resize: vertical;
        margin-bottom: 2em;
        border-radius: 10px 10px 45px 10px;
    -webkit-border-radius: 10px 10px 45px 10px;
    -moz-border-radius: 10px 10px 45px 10px;
    border-color: var(--color-bordes-iconos-plas);

     }
     textarea:focus{
        background-color: var(--color-bordes-iconos-plas);
        box-shadow: 16px 16px 30px -9px rgba(0,0,0,0.75);
-webkit-box-shadow: 16px 16px 30px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 16px 16px 30px -9px rgba(0,0,0,0.75);
        
       
     }
.title{
    font-size: 1.5em;
}
legend{
    background-color: var(--color-terciario-celestito);
    text-align: left;
    font-size: 1.2em;
    border: solid 2px black;
    border-radius: 10px 10px 45px 10px;
    -webkit-border-radius: 10px 10px 45px 10px;
    -moz-border-radius: 10px 10px 45px 10px;
padding: 0.5em;
border-color: var(--color-bordes-iconos-plas);
box-shadow: 16px 16px 13px -12px rgba(0,0,0,0.75);
-webkit-box-shadow: 16px 16px 13px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 16px 16px 13px -12px rgba(0,0,0,0.75);
}

}
.contact{
    padding-bottom: 2em;
    text-align: center;
    border-color:var(--color-bordes-iconos-plas);
    box-shadow: 16px 16px 30px -9px rgba(0,0,0,0.75);
-webkit-box-shadow: 16px 16px 30px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 16px 16px 30px -9px rgba(0,0,0,0.75);
    border-radius: 10px 10px 45px 10px;
    -webkit-border-radius: 10px 10px 45px 10px;
    -moz-border-radius: 10px 10px 45px 10px;
    margin:1em;
    legend{
        background-color:var(--color-terciario-celestito);
        text-align: left;
        font-size: 1.2em;
        border: solid 2px black;
        border-radius: 10px 10px 45px 10px;
        -webkit-border-radius: 10px 10px 45px 10px;
        -moz-border-radius: 10px 10px 45px 10px;
    padding: 0.5em;
    border-color: var(--color-bordes-iconos-plas);
    box-shadow: 16px 16px 13px -12px rgba(0,0,0,0.75);
-webkit-box-shadow: 16px 16px 13px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 16px 16px 13px -12px rgba(0,0,0,0.75);
    }
    .title{
        font-size: 1.5em;
    }
}
#lbl-name, #lbl-tel, #lbl-lastname, #lbl-document, #lbl-email{
    border-radius: 1em;
    border-color: var(--color-bordes-iconos-plas);
    &:focus{
        background-color: var(--color-bordes-iconos-plas);
    }
}


.news, .mandatory-field{
    text-align: center;
    padding: 1em;
    font-size:bold;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.button{
    display: flex;
   justify-content: center;
    margin-bottom: 1em;
    margin-top: 1em;
    height: 3em;
    align-items: center;
    font-weight: 700;
    font-size: 1em;
    border-radius: 1em;
width: 80%;
box-shadow: 16px 16px 13px -12px rgba(0,0,0,0.75);
-webkit-box-shadow: 16px 16px 13px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 16px 16px 13px -12px rgba(0,0,0,0.75);
background-color: var(--color-terciario-celestito);
}
.button:hover{
    background-color: var(--color-whatsapp);
}
.button:focus{
    background-color: var(--color-bordes-iconos-plas);
}
.simbol{
    color: var(--color-primario-oscuro); 
   display: flex;

}
.fa-solid{
    align-items: center;
    position: relative;
    width: 400px;
}

.img-cont{
    border-radius: 2em;
    padding: 1em;
    margin: 1em;
}
.cont{
    opacity:0.9 ;
    box-shadow: 16px 16px 13px -12px rgba(0,0,0,0.75);
-webkit-box-shadow: 16px 16px 13px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 16px 16px 13px -12px rgba(0,0,0,0.75);
    border-radius: 2em;
    width:100%;
}
.complete{
    color: var(--color-primario-oscuro);
font-size: 2rem;
font-weight: 900;
text-align: center;
 }

}

/* ------------------------------------- */

@media (min-width: 576px){
 
.main-cont{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);

}
.complete{

    text-align: center;
    font-size: 2em;
    color: var(--color-primario-oscuro);
    margin-top: 1em;
    position: relative;
    left: 25%;
    grid-column: 1 / 3;
  grid-row: 1;
}
.img-cont{
    position: relative;
    
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}
.cont{
    position: relative;
    top:  120px;
    min-width: 600px;
    
    }
.buttons{
    position: relative;
    left: 300px;
    bottom: 90px;
    grid-column: 2;
  grid-row: 4;
}
.information{
  
    text-align: center;
    border-color: var(--color-bordes-iconos-plas);
    box-shadow: 16px 16px 30px -9px rgba(0,0,0,0.75);
-webkit-box-shadow: 16px 16px 30px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 16px 16px 30px -9px rgba(0,0,0,0.75);
    border-radius: 10px 10px 45px 10px;
    -webkit-border-radius: 10px 10px 45px 10px;
    -moz-border-radius: 10px 10px 45px 10px;
    margin:1em;
   
    &__personal{
        margin-top: 1em;
        margin-left: 5em;
        margin-right: 5em;
        display: flex;
        flex-direction: column;
      
     }
    }
    textarea{
        font-size: 1.5em;
        resize: none;
        margin-bottom: 2em;
        border-radius: 10px 10px 45px 10px;
    -webkit-border-radius: 10px 10px 45px 10px;
    -moz-border-radius: 10px 10px 45px 10px;
    border-color: var(--color-bordes-iconos-plas);

     }
     textarea:focus{
        background-color: var(--color-bordes-iconos-plas);
        box-shadow: 16px 16px 30px -9px rgba(0,0,0,0.75);
-webkit-box-shadow: 16px 16px 30px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 16px 16px 30px -9px rgba(0,0,0,0.75);
        
       
     }
.title{
    font-size: 1.5em;
}
legend{
    background-color: var(--color-terciario-celestito);
    text-align: left;
    font-size: 1.2em;
    border: solid 2px black;
    border-radius: 10px 10px 45px 10px;
    -webkit-border-radius: 10px 10px 45px 10px;
    -moz-border-radius: 10px 10px 45px 10px;
padding: 0.5em;
border-color: var(--color-bordes-iconos-plas);
box-shadow: 16px 16px 13px -12px rgba(0,0,0,0.75);
-webkit-box-shadow: 16px 16px 13px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 16px 16px 13px -12px rgba(0,0,0,0.75);
}


.contact{
    padding-bottom: 2em;
    text-align: center;
    border-color: var(--color-bordes-iconos-plas);
    box-shadow: 16px 16px 30px -9px rgba(0,0,0,0.75);
-webkit-box-shadow: 16px 16px 30px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 16px 16px 30px -9px rgba(0,0,0,0.75);
    border-radius: 10px 10px 45px 10px;
    -webkit-border-radius: 10px 10px 45px 10px;
    -moz-border-radius: 10px 10px 45px 10px;
    margin:1em;
    legend{
        background-color: var(--color-terciario-celestito);
        text-align: left;
        font-size: 1.2em;
        border: solid 2px black;
        border-radius: 10px 10px 45px 10px;
        -webkit-border-radius: 10px 10px 45px 10px;
        -moz-border-radius: 10px 10px 45px 10px;
    padding: 0.5em;
    border-color: var(--color-bordes-iconos-plas);
    box-shadow: 16px 16px 13px -12px rgba(0,0,0,0.75);
-webkit-box-shadow: 16px 16px 13px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 16px 16px 13px -12px rgba(0,0,0,0.75);
    }
    .title{
        font-size: 1.5em;
    }
}
#lbl-name, #lbl-tel, #lbl-lastname, #lbl-document, #lbl-email{
    border-radius: 1em;
    border-color: var(--color-bordes-iconos-plas);
    &:focus{
        background-color: var(--color-bordes-iconos-plas);
    }
}



.news, .mandatory-field{
    margin-top: 4em;
    text-align: center;
    padding: 1em;
    font-size:bold;
}
.mandatory-field{
    margin-bottom: 2em;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.news{
    margin-bottom: 2em;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons{
    width: 100%;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
.button{
    width: 20%;
    display: flex;
   justify-content: center;
    margin-bottom: 1em;
    margin-top: 1em;
    height: 3em;
    align-items: center;
    font-weight: 700;
    font-size: 1em;
    border-radius: 1em;

box-shadow: 16px 16px 13px -12px rgba(0,0,0,0.75);
-webkit-box-shadow: 16px 16px 13px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 16px 16px 13px -12px rgba(0,0,0,0.75);
background-color: var(--color-terciario-celestito);
}
.button:hover{
    background-color: var(--color-whatsapp);
}
.button:focus{
    background-color: var(--color-bordes-iconos-plas);
}
.simbol{
    color: var(--color-primario-oscuro); 
   display: flex;

}
.fa-solid{
    align-items: center;
    position: relative;
    width: 400px;
}

.img-cont{
    width: 100%;
    border-radius: 2em;
    padding: 2em;
    margin: 1em;
}
.cont{
    width: auto;
    opacity:0.9 ;
    box-shadow: 16px 16px 13px -12px rgba(0,0,0,0.75);
-webkit-box-shadow: 16px 16px 13px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 16px 16px 13px -12px rgba(0,0,0,0.75);
    border-radius: 2em;
    width:100%;
}
#lbl-tel{
    width: 70%;
}
#lbl-email{
    width: 70%;
}

}