@media (max-width: 576px) {
    .card{ /* .card */
        min-width: 400px;
        max-width: 500px;
        height: 200px;
    

    &__article { /* .card__article */
        display: flex;
    }

    & &__image-container { /* .card .card__image-container */
        width: 100%;
        clip-path: polygon(0% 0%, 100% 0, 64% 100%, 0 100%, 0% 100%); /* Estado inicial */
    }

    &:hover &__image-container,
    &:focus &__image-container {
        width: 60%;
        clip-path: polygon(0% 0%, 100% 0, 81% 100%, 0 100%, 0% 100%); /* Estado final */
    }
    }

}
.card__content{
    width: 150%;
}

.add-carrito{
    color:var(--color-bordes-iconos-plas);
    font-size: 2em;
    position: absolute;
    bottom: 395px;
    left: 230px;

}



.card__article{
@media (max-width: 576px) {
.add-carrito {
    color:var(--color-bordes-iconos-plas);
    font-size: 2em;
    position: absolute;
    top: 160px;
    left: 360px;
}
}
}
.card {
    width: 220px;
    max-width: 300px;
    height: 200px;
    background-color:var(--color-primario-claro);
    overflow: hidden;
    border-radius: 22px 25px 117px 20px;
    box-shadow: 16px 16px 30px -9px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 16px 16px 30px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 16px 16px 30px -9px rgba(0, 0, 0, 0.75);
    transition: 0.2s;
    border:solid 2px var(--color-bordes-iconos-plas);
    position: relative;

    &:hover,
    &:focus {
        transform: scale(1.03) skew(0);
        transform-origin: bottom;
        box-shadow: 0px 7px 8px 0px rgba(0 ,0 ,0 ,0.5);
        border-radius: 20px 20px 20px 20px;
        -webkit-border-radius: 20px 20px 20px 20px;
        -moz-border-radius: 20px 20px 20px 20px;
    }



    &__image {
        width: 200%;
        height: 100%;
        object-fit: cover;
    }

    &:hover &__image, 
    &:focus &__image {
        transform: scale(1.4) rotate(5deg);
        transform-origin: center;
    }

    &:nth-child(odd) {
        background-image: linear-gradient(0deg,#5d8bf4 0%, #5d8bf4 40%, #dff6ff 80%);
    }
    
    &:nth-child(even) {
        background-image: linear-gradient(180deg,#2d31fa 0%, #5d8bf4 40%, #dff6ff 80%);
    }


    &__image-container {
        height: 200px;
        background-color: blue;
        overflow: hidden;
        clip-path: polygon(0% 0%, 60% 0, 100% 50%, 60% 100%, 0% 100%); /* Estado inicial */
    }

    &:hover &__image-container,
    &:focus &__image-container {
        clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%); /* Estado final */
    }
   
}


@media (min-width: 576px) {

    .card {
        width: 280px;
        max-width: 300px;
        height: 450px;
        background-color: var(--color-primario-claro);
        overflow: hidden;
        border-radius: 22px 25px 117px 20px;
        box-shadow: 16px 16px 30px -9px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 16px 16px 30px -9px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 16px 16px 30px -9px rgba(0, 0, 0, 0.75);
        transition: 0.2s;
        border:solid 2px var(--color-bordes-iconos-plas);
        position: relative;
        margin: 0.5em;
        
    
        &:hover,
        &:focus {
            transform: scale(1.03) skew(0);
            transform-origin: bottom;
            box-shadow: 0px 7px 8px 0px rgba(0 ,0 ,0 ,0.5);
            border-radius: 20px 20px 20px 20px;
            -webkit-border-radius: 20px 20px 20px 20px;
            -moz-border-radius: 20px 20px 20px 20px;
        }

    
    
    
        &__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    
        &:hover &__image, 
        &:focus &__image {
            transform: scale(1.4) rotate(5deg);
            transform-origin: center;
        }
    
        &:nth-child(odd) {
            background-image: linear-gradient(0deg,#5d8bf4 0%, #5d8bf4 40%, #dff6ff 80%);
        }
        
        &:nth-child(even) {
            background-image: linear-gradient(180deg,#2d31fa 0%, #5d8bf4 40%, #dff6ff 80%);
        }
    
    
        &__image-container {
            height: 200px;
            background-color: blue;
            overflow: hidden;
            clip-path: polygon(0% 0%, 60% 0, 100% 50%, 60% 100%, 0% 100%); /* Estado inicial */
        }
    
        &:hover &__image-container,
        &:focus &__image-container {
            clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%); /* Estado final */
        }
        .p-products{
            
            max-width: 250px;
            
            font-size: 1.1em;
        }
        

}

}
