


 .tabla-alta {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.5rem;
    font-family: Arial, sans-serif;
  
    thead {
       
      background-color: var(--color-primario-oscuro);
      color: var(--color-primario-claro);
  
      th {
        padding: 12px;
        text-align: center;
        font-weight: bold;
        font-size: 1rem;
      }
    }
  
    tbody {
      tr {
        &:nth-child(even) {
          background-color:  var(--color-primario-claro);
        }
  
        &:nth-child(odd) {
          background-color:var(--color-terciario-celestito);
        }
  
        &:hover {
          background-color: gray
        }
      }
  
      td {
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        font-size: 0.9rem;
      }
  
      td:last-child {
        text-align: center;
      }
    }
  
    @media (max-width: 576px) {
      thead {
        display: none; // Ocultar la cabecera en pantallas pequeñas
      }
  
      tbody {
        tr {
          display: block;
          margin-bottom: 10px;
  
          td {
            display: flex;
            justify-content: space-between;
            padding: 8px;
            border-bottom: 1px solid #ddd;
            font-size: 0.8rem;
  
            &:before {
              content: attr(data-label);
              font-weight: bold;
              text-transform: uppercase;
              color: #004080;
            }
          }
        }
      }
    }
  
    @media (min-width: 576px) {
      tbody {
        tr {
          display: table-row;
  
          td {
            display: table-cell;
            padding: 12px;
          }
  
          &:hover {
            background-color: #d0e0ff;
          }
        }
      }
    }
  }
  