table.tabla-alta {
    border-collapse: collapse;
    width: 95%;
    margin: 1rem auto;

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: var(--color-primario-oscuro);
        color: var(--color-terciario-celestito);
        text-align: center;
        border-radius: 11px 11px 11px 11px;
        -webkit-border-radius: 11px 11px 11px 11px;
        -moz-border-radius: 11px 11px 11px 11px;
    }
}

